#main-page
  display: none

#header-after
  margin-left: auto
  margin-right: auto
  padding-top: 3%
  width: 700px

#content-after
  margin-left: auto
  margin-right: auto
  padding-top: 3%
  font-size: 50px
  width: 700px
  input[type=text]
    font-family: 'leafy'
    font-size: 40pt
    text-align: center
    border: none
    border-bottom: 1px solid black
    background: transparent
    width: 100%
    outline: none
    padding: 0px
.notes
  padding-top: 3%

.row
  width: 100%

.control-block
  width: 20%
  display: inline-block

button
  border: none
  font-family: 'leafy'
  font-size: 40px
  background: transparent
  outline: none

.note-element
  padding-top: 1%
  font-size: 40px
  width: 80%
  outline: none
  display: inline-block
