@import 'animations.sass'
@import 'landingpage.sass'

@font-face
  font-family: 'leafy'
  src: url('../font/leafy.woff') format("woff")
body
  font-family: 'leafy'
  background-image: url('../resources/background.jpeg')
  background-repeat: no-repeat
  background-size: cover
  width: 100vw
  height: 100vh
  overflow: hidden

#main-page
  display: none

#header-after
  margin-left: auto
  margin-right: auto
  padding-top: 3%
  width: 700px

#content-after
  margin-left: auto
  margin-right: auto
  padding-top: 3%
  width: 700px
